:root {

  /* --body-background-color: #ccc; */
  /* --body-background-color: #96ac6c81; */
  /* --body-background-color: #2e3d136e; */
  /* --body-background-color: #2e3d13c7; */
  /* --body-background-color: #2e3d13c0; */
  /* --body-background-color: #2e3d13b9; */

  --brown-color: #4d4417;
  --brown-color: #443900;
  --body-background-color: #697550;
  --body-background-color-top: #697550;
  --body-background-color-bottom: #697550;
  --body-text-color: #b9b4b4;
  --body-text-color: #ddd;
  
  /* --nav-background-color: #8da756; */
  --nav-background-color: #93ad5a;
  --nav-background-color: #839b4f;
  --nav-text-color: var(--logo-text-color);
  --logo-text-color: #10393f;
  --logo-text-color: #444703;
  --logo-text-color: #413800;
  --logo-text-color: white;
  // --logo-text-color: #443900;

  --teaser-header-background-color-left: #555;
  --teaser-header-background-color-right: #696969;
  --teaser-header-background-color-right: #888;
  --teaser-background-color: #323236;
  // --teaser-background-color: #454547;
  // --teaser-background-color: #4d4d4a;
  
  --teaser-header-text-color: #e9e9e9;
  --teaser-read-more-link-color: #5d9ac0;
  --teaser-date-background-color: var(--body-background-color);
  --teaser-date-text-color: var(--teaser-background-color);
  --teaser-date-text-color: white;
  --teaser-footer-text-color: #5cacdd;

  --footer-background-color: var(--body-background-color);
  --footer-background-color: var(--nav-background-color);
  --footer-text-color: var(--teaser-background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, var(--body-background-color-top) , var(--body-background-color-bottom));
  // background: var(--body-background-color);
  // background: purple;
  color: var(--body-text-color);
  font-family: 'Cantarell', sans-serif;

}

.nav {
  font-size: 1.3rem;
  font-weight: 600;
  // padding: 1.4vmax 1.6vmax 1.4vmax 1.3vmax;
  padding: 1.5vmax 1.6vmax 1.45vmax 1.6vmax;
  background: var(--nav-background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--nav-text-color);

  @media screen and (min-width: 500px) {
      font-size: 1.7rem;
  }

}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

    @media screen and (min-width: 900px) {
    width: 900px;
    margin: 0 auto;
  }
}

.logo-image {
  height: 1.5em;
  margin: 0 0.05em;
}

.home-logo-link a {

  text-decoration: none;
  color: var(--logo-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}


.logo-word {
  font-size: 1.2em;
  letter-spacing: 0.01em;
  font-family: 'Spinnaker', sans-serif;
  // font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  // padding: 0 0.05em;
}

.nav-menu {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.6em;
  letter-spacing: 0.055em;


  @media screen and (min-width: 500px) {
    font-size: 0.7em;
  }
}

.nav-menu-items {
  display: flex;
}

.nav-menu-item {
  list-style: none;
  color: var(--nav-text-color);
  margin-left: 0.9em;  
}

.nav-menu-item-current {
  text-decoration: underline;
}

.main {
  // background: #302d28;
  // background: #344134;
  // background: var(--body-background-color);
}

.teasers {
  padding: 1.2vmax 1.2vmax 0 1.2vmax;
  padding: 1.2vmax 1.2vmax 0 1.2vmax;
  // border: 1px solid red;
  // background: var(--body-background-color);

  @media screen and (min-width: 900px) {
    box-sizing: content-box;
    width: 900px;
    margin: 0 auto;
    // padding: 1.2vmax 2.2vmax 0 2.2vmax;
    // padding: 1.2vmax 3.2vmax 0 3.2vmax;

    // border-left: 22px solid var(--teaser-header-background-color-left);
    // border-right: 22px solid var(--teaser-header-background-color-right);
  }
}

.teaser {
  margin-bottom: 1.2vmax;

  @media screen and (min-width: 900px) {
    height: 160px;  
    display: flex;
    flex-direction: row;
  }
}

.teaser-header-container {
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.teaser-header {
  // height: 100%;

  font-size: 1.1rem;
  // height: 3.5em;
  background: var(--teaser-header-background-color-left);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0.7em 0.8rem 0.7em 1.0rem; */
  // padding: 0.3rem 0.3rem 0.3rem 1.0rem;
  padding: 0.3rem 0.3rem 0.3rem 1.0rem;


  @media screen and (min-width: 900px) {
    font-size: 1.3rem;
    flex-direction: column;
    width: 300px;
    height: 100%;
    padding: 0.4em 0.4em 0.4em 0.8em;
  }

  .teaser-thumb-container {
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  
  .teaser-thumb {
    height: 3rem;
    // margin-left: 0.7em;
    @media screen and (min-width: 900px) {
      height: 4rem;
    }
  }

  .teaser-title-container {
    margin-right: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    @media screen and (min-width: 900px) {
      // flex-direction: row;
      // justify-content: flex-start;
    }
  }
  
  .teaser-title {
    color: var(--teaser-header-text-color);
    line-height: 1.5;
  }


  .teaser-date-container {
    display: none;
    @media screen and (min-width: 900px) {
      display: block;
      font-size: 0.8em;
      text-align: left;
      // margin-right: 0.4em;
    }
  }
}





.teaser-main {
  background: var(--teaser-background-color);
  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    overflow: hidden;
  }
}

.teaser-text-container {
  padding: 0.7em 1em 0 1em;
  @media screen and (min-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
}

.teaser p {
  padding-bottom: 0.5em;
}

.teaser p:nth-last-child(1) {
  padding-bottom: 0;
}

.teaser-footer-container {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.6em 1em 0.7em 1em;
  @media screen and (min-width: 900px) {
    display: block;
    padding: 0;
    margin-left: 1em;
  }
}

.teaser-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (min-width: 900px) {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background: var(--teaser-header-background-color-right);

  }

  .teaser-thumb-container {
    display: none;

    @media screen and (min-width: 900px) {
      display: block;
      // height: 70%;
    }
  }
}

.teaser-read-more-link {
  text-decoration: none;
  border-top: 1px solid var(--teaser-read-more-link-color);
  padding-top: 0.2em;
  color: var(--teaser-footer-text-color);

  @media screen and (min-width: 900px) {
    display: block;
    border-top: none;
    // color: white;
    color: var(--teaser-date-text-color);
    font-weight: 500;
    background: var(--nav-background-color);
    background: var(--teaser-header-background-color-right);
    padding: 0.2em 0 0.33em 0;
    text-align: center;
    line-height: 1.2em;
    margin-top: 0.7em;
    border-radius: 0.5em;
  }
}

.teaser-date-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.teaser-date {
  font-size: 0.75em;
  font-size: 1em;
  color: var(--teaser-footer-text-color);
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.8em;
  background-color: var(--footer-background-color);
  // color: white;
  color: var(--footer-text-color);
  padding: 1em 1rem 1.1em 1rem;
  text-align: center;
}

footer a {
  text-decoration: underline;
  color: var(--footer-text-color);
}

footer a:visited {
  color: var(--footer-text-color); 
}