* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #697550;
  color: #ddd;
  font-family: "Cantarell", sans-serif;
  position: relative;
  padding-bottom: 4rem;
  min-height: 100vh;
}

body .nav {
  font-size: 1.3rem;
  font-weight: 600;
  background: #839b4f;
  width: 100%;
  color: white;
}

@media screen and (min-width: 500px) {
  body .nav {
    font-size: 1.7rem;
  }
}

body .nav .nav-content {
  margin: 0 auto;
  padding: 0.5em 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 900px) {
  body .nav .nav-content {
    max-width: 900px;
  }
}

body .nav .nav-content .logo-image {
  height: 1.5em;
  margin: 0 0.05em;
}

body .nav .nav-content .home-logo-link a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav .nav-content .logo-word {
  font-size: 1.2em;
  letter-spacing: 0.01em;
  font-family: "Spinnaker", sans-serif;
  font-weight: 600;
}

body .nav .nav-content .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6em;
  letter-spacing: 0.055em;
}

@media screen and (min-width: 500px) {
  body .nav .nav-content .nav-menu {
    font-size: 0.7em;
  }
}

body .nav .nav-content .nav-menu .nav-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .nav .nav-content .nav-menu .nav-menu-items .nav-menu-item {
  list-style: none;
  color: white;
  margin-left: 0.9em;
}

body .nav .nav-content .nav-menu .nav-menu-items .nav-menu-item-current {
  text-decoration: underline;
}

body .teasers {
  padding: 1.2vmax 1.2vmax 0 1.2vmax;
  padding: 1.2vmax 0.5rem 0 0.5rem;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 900px) {
  body .teasers {
    width: 900px;
    margin: 0 auto;
  }
}

body .teasers .teaser {
  background: #555;
  margin-bottom: 1.2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 700px) {
  body .teasers .teaser {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

body .teasers .teaser .teaser-header {
  font-size: 1.1rem;
  padding: 0.1em 0.1em 0.1em 1em;
  background: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-header {
    width: 36%;
    font-size: 1.3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0.8rem 0.4em 0.8rem 0.8em;
  }
}

body .teasers .teaser .teaser-header .teaser-title {
  font-size: 1.1em;
  color: #e9e9e9;
  line-height: 1.4;
}

body .teasers .teaser .teaser-header .teaser-thumb-container {
  padding: 0.5em 0.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 500px) {
  body .teasers .teaser .teaser-header .teaser-thumb-container {
    padding: 0.7em 1.2rem;
  }
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-header .teaser-thumb-container {
    display: none;
  }
}

body .teasers .teaser .teaser-header .teaser-thumb-container .teaser-thumb {
  height: 4em;
}

@media screen and (min-width: 500px) {
  body .teasers .teaser .teaser-header .teaser-thumb-container .teaser-thumb {
    height: 3.4em;
  }
}

body .teasers .teaser .teaser-header .teaser-thumb-backdrop {
  padding: 0.8em 1rem;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#ccc));
  background-image: linear-gradient(to bottom, #7d7d7d, #ccc);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5em solid #555;
  border-radius: 0.65em;
}

@media screen and (min-width: 500px) {
  body .teasers .teaser .teaser-header .teaser-thumb-backdrop {
    padding: 0.7em 1.2rem;
  }
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-header .teaser-thumb-backdrop {
    display: none;
  }
}

body .teasers .teaser .teaser-header .teaser-thumb-backdrop .teaser-thumb {
  height: 4em;
}

@media screen and (min-width: 500px) {
  body .teasers .teaser .teaser-header .teaser-thumb-backdrop .teaser-thumb {
    height: 3.4em;
  }
}

body .teasers .teaser .teaser-header .teaser-date {
  display: none;
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-header .teaser-date {
    margin-top: 0.5em;
    display: block;
    font-size: 0.9rem;
    color: #5cacdd;
  }
}

body .teasers .teaser .teaser-main {
  background: #323236;
  padding: 0.6em 1em;
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main {
    width: 64%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.8rem 0.7em 0.8rem 1em;
  }
}

body .teasers .teaser .teaser-main .teaser-text p {
  margin-bottom: 0.5em;
}

body .teasers .teaser .teaser-main .teaser-text p:nth-last-child(1) {
  margin-bottom: 0;
}

body .teasers .teaser .teaser-main .teaser-footer {
  margin-top: 0.7em;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main .teaser-footer {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

body .teasers .teaser .teaser-main .teaser-footer .teaser-read-more-link {
  text-decoration: underline;
  color: #5cacdd;
}

body .teasers .teaser .teaser-main .teaser-footer .teaser-date {
  color: #5cacdd;
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-date {
    display: none;
  }
}

body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-container {
  display: none;
}

@media screen and (min-width: 500px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-container {
    padding: 0.7em 1.2rem;
  }
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-container {
    margin-left: 0.5em;
    padding: 0.8em 1.4rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#ccc));
    background-image: linear-gradient(to bottom, #7d7d7d, #ccc);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5em solid #323236;
    border-radius: 1em;
  }
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-container .teaser-thumb {
    height: 6em;
  }
}

body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-backdrop {
  display: none;
}

@media screen and (min-width: 500px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-backdrop {
    padding: 0.7em 1.2rem;
  }
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-backdrop {
    margin-left: 0.5em;
    padding: 0.8em 1.4rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7d7d), to(#ccc));
    background-image: linear-gradient(to bottom, #7d7d7d, #ccc);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.5em solid #323236;
    border-radius: 1em;
  }
}

@media screen and (min-width: 700px) {
  body .teasers .teaser .teaser-main .teaser-footer .teaser-thumb-backdrop .teaser-thumb {
    height: 6em;
  }
}

footer {
  position: absolute;
  height: 4rem;
  bottom: 0;
  width: 100%;
  font-size: 0.9em;
  background-color: #839b4f;
  color: white;
  padding: 1.5em 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer a:visited {
  color: white;
}
/*# sourceMappingURL=styles.css.map */