:root {
  /* --body-background-color: #ccc; */
  /* --body-background-color: #96ac6c81; */
  /* --body-background-color: #2e3d136e; */
  /* --body-background-color: #2e3d13c7; */
  /* --body-background-color: #2e3d13c0; */
  /* --body-background-color: #2e3d13b9; */
  --body-background-color: #697550;
  --body-text-color: #b9b4b4;
  --body-text-color: #ddd;
  /* --nav-background-color: #8da756; */
  --nav-background-color: #798d4f;
  --nav-text-color: white;
  /* --teaser-header-background-color: #848488; */
  /* --teaser-header-background-color: #444; */
  --teaser-header-background-color-left: #555;
  --teaser-header-background-color-right: #696969;
  /* --teaser-header-background-color-right: #666; */
  /* --teaser-header-background-color-right: #777; */
  --teaser-background-color: #323236;
  --teaser-header-text-color: white;
  /* --teaser-date-background-color: var(--nav-background-color); */
  --teaser-read-more-link-color: #5d9ac0;
  /* --teaser-read-more-link-color: #5c86a1; */
  --teaser-date-background-color: var(--body-background-color);
  --teaser-footer-text-color: #5cacdd;
  --footer-background-color: var(--body-background-color);
  --footer-background-color: var(--nav-background-color);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--body-background-color);
  color: var(--body-text-color);
  font-family: 'Cantarell', sans-serif;
}

.nav {
  font-size: 1.3rem;
  padding: 1.4vmax 1.6vmax 1.4vmax 1.2vmax;
  background: var(--nav-background-color);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--nav-text-color);
}

@media screen and (min-width: 500px) {
  .nav {
    font-size: 1.7rem;
  }
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 900px) {
  .nav-content {
    width: 900px;
    margin: 0 auto;
  }
}

.logo-image {
  height: 1.5em;
}

.home-logo-link a {
  text-decoration: none;
  color: var(--nav-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-word {
  font-size: 1em;
  font-family: 'Spinnaker', sans-serif;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.6em;
}

@media screen and (min-width: 500px) {
  .nav-menu {
    font-size: 0.7em;
  }
}

.nav-menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-menu-item {
  list-style: none;
  color: var(--nav-text-color);
  margin-left: 0.9em;
}

.nav-menu-item-current {
  text-decoration: underline;
}

.main {
  background: #302d28;
  background: #344134;
  background: var(--body-background-color);
}

.teasers {
  padding: 1.2vmax 1.2vmax 0 1.2vmax;
  background: var(--body-background-color);
}

@media screen and (min-width: 900px) {
  .teasers {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 900px;
    margin: 0 auto;
  }
}

.teaser {
  margin-bottom: 1.2vmax;
}

.teaser-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teaser-header {
  font-size: 1.1rem;
  /* background-color: var(--teaser-header-background-color); */
  background-image: -webkit-gradient(linear, left top, right top, from(var(--teaser-header-background-color-left)), to(var(--teaser-header-background-color-right)));
  background-image: linear-gradient(to right, var(--teaser-header-background-color-left), var(--teaser-header-background-color-right));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* padding: 0.7em 0.8rem 0.7em 1.0rem; */
  padding: 0.3rem 0.3rem 0.3rem 1.0rem;
}

.teaser-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teaser-title {
  color: var(--teaser-header-text-color);
  line-height: 1.5;
}

.teaser-thumb-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teaser-thumb {
  height: 3rem;
  margin-left: 0.7em;
}

.teaser-content {
  background-color: var(--teaser-background-color);
  padding: 0.7em 1em 0 1em;
}

.teaser p {
  padding-bottom: 0.5em;
}

.teaser-footer-container {
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--teaser-background-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.6em 1em 0.7em 1em;
}

.teaser-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teaser-read-more-link {
  text-decoration: none;
  border-top: 1px solid var(--teaser-read-more-link-color);
  padding-top: 0.2em;
  color: var(--teaser-footer-text-color);
}

.teaser-date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teaser-date {
  font-size: 0.75em;
  font-size: 1em;
  color: var(--teaser-footer-text-color);
}

.footer {
  font-size: 0.8em;
  background-color: var(--footer-background-color);
  color: white;
  padding: 1em 1rem 1.1em 1rem;
  text-align: center;
}

.footer-link {
  text-decoration: underline;
  color: white;
}

.footer-link:visited {
  color: white;
}
/*# sourceMappingURL=styles.css.map */