* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #2d272e; */
    /* background-color: #312d31; */

    color: #b9b4b4;
    font-family: 'Cantarell', sans-serif;

}

.nav {
    height: 7em;
    padding: 1em 1em 1em 2em;
    /* background-color: #2d272e; */
    background-color: #312d31;
    background-color: #8da756;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-image {
    height: 4.5em;
}

.home-logo-link a {
    text-decoration: none;
    /* color: #8da756;
    color: #7fb803a1;
    color: #54750c;
    color: #e9e9e9; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-word {
    font-size: 2.5em;
    font-size: 2.9em;
    font-family: 'Spinnaker', sans-serif;
}

.nav-menu {
    /* min-width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-menu-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-item {
    list-style: none;
    color: white;
    margin: 0 0.6em;
    font-size: 1.7em;
    font-size: 2.1em;
}

.nav-menu-item-current {
    /* text-decoration: underline; */
    border-bottom: 2px solid #eee;
    /* padding-bottom: 0px; */
}

.teasers {
    background: #ccc;
    padding: 1em;
}

.teaser {
    margin-bottom: 1em;
}

.teaser-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teaser-header {
    display: flex;
    background-color: #848488;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid #313131; */
    padding: 1em;
}

.teaser-title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.teaser-title {
    /* font-family: 'Lalezar', cursive; */
    font-size: 2.5em;
    color: #50758d;
    color: #5c86a1;
    color: white;
    line-height: 1.1em;
    line-height: 110%;
    /* margin-right: .2em; */
    /* border-right: 3px solid white; */
    /* padding-top: .4em; */
}

/* .teaser-date {
    text-align: right;
    display: inline;
    padding-left: 1em;
} */

.teaser-thumb-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teaser-thumb {
    height: 7em;
    /* padding-top: 1em; */
}

.teaser-content {
    background-color: #323236;
    padding: 1em;
}

.teaser-text {
    margin-bottom: 0em;
}

.teaser-footer-container {
    margin-top: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.teaser-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #323236;
}



.teaser p {
    padding-bottom: 10px;
}
/* 
.teaser-content::after {
    color: #54750c;
    color: #5c86a1;
    content: "Read more";
    border-top: 1px solid #5c86a1;
} */

.teaser-read-more-link {
    font-size: 1.8em;
    text-decoration: none;
    border-top: 1px solid #5c86a1;
    padding-top: .2em;
    color: #5c86a1;
}

.teaser-date {
    color: white;
    background-color: #8da756b7;
    background-color: #8da756df;
    /* background-color: #6b725b; */
    display: inline;
    font-size: 1.6em;
    padding: .2em .5em;
}

.footer {
    /* margin-top: -.7em; */
    background-color: #8da756;
    color: white;
    /* height: 7em; */
    padding: .7em 1em .9em 1em;
    font-size: .9em;
    text-align: center;
}

.footer-link {
    text-decoration: underline;
    color: white;
}

.footer-link:visited {
    color: white; 
}